In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('H2HBABBA1533.csv')

In [5]:
data.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR corp,2019-12-27 00:00:00,2019.0,1.930283e+09,2019-12-15,20191215,20191215,20191230.0,USD,RV,1.0,NaN,31357.06,20191215.0,NAH4,1.930283e+09,0
1,U001,0200777735,NASH,2019-02-25 00:00:00,2019.0,1.928774e+09,2019-02-11,20190209,20190211,20190226.0,USD,RV,1.0,NaN,64325.57,20190211.0,NAA8,1.928774e+09,0
2,U001,CCU013,KRAFT F,2019-08-02 00:00:00,2019.0,1.929514e+09,2019-06-21,20190619,20190621,20190621.0,USD,RV,1.0,NaN,2269.31,20190621.0,NAX2,1.929514e+09,0
3,U001,0200793000,US corporation,2019-05-17 00:00:00,2019.0,1.929240e+09,2019-05-02,20190501,20190502,20190517.0,USD,RV,1.0,NaN,75708.78,20190502.0,NAA8,1.929240e+09,0
4,U001,0200769623,WAL-MAR co,2019-12-24 00:00:00,2019.0,1.930269e+09,2019-12-14,20191212,20191214,20191229.0,USD,RV,1.0,NaN,49429.64,20191214.0,NAH4,1.930269e+09,0

In [8]:
data['business_code'].value_counts()

U001    45275
CA02     3902
U013      647
U002      157
U005       18
U007        1
Name: business_code, dtype: int64