In [13]:
import pandas as pd
import numpy as np

In [14]:
df =  pd.read_csv('Training Data.csv',nrows=15000)

In [15]:
df.head()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR trust,2019-12-16 00:00:00,2019.0,1.930215e+09,2019-12-03,20191203,20191203,20191218.0,USD,RV,1.0,NaN,37538.22,20191203.0,NAH4,1.930215e+09,0
1,U001,0200726979,BJ'S associates,2019-07-02 00:00:00,2019.0,1.929511e+09,2019-06-17,20190618,20190617,20190702.0,USD,RV,1.0,NaN,442.26,20190617.0,NAA8,1.929511e+09,0
2,U001,0200721222,GO,2019-09-10 00:00:00,2019.0,1.929793e+09,2019-08-26,20190826,20190826,20190910.0,USD,RV,1.0,NaN,83973.11,20190826.0,NAA8,1.929793e+09,0
3,U001,0200936373,SUPE llc,2019-08-21 00:00:00,2019.0,1.929709e+09,2019-08-05,20190806,20190805,20190820.0,USD,RV,1.0,NaN,731.46,20190805.0,NAA8,1.929709e+09,0
4,CA02,0140104423,METRO co,2019-06-03 00:00:00,2019.0,2.960546e+09,2019-05-23,20190523,20190523,20190603.0,CAD,RV,1.0,NaN,262803.39,20190524.0,CA10,2.960546e+09,0

In [16]:
df.shape

(15000, 19)

In [17]:
dat2 =  df.isnull().sum()
dat2

business_code                 0
cust_number                   0
name_customer                 0
clear_date                    0
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
posting_id                    0
area_business             15000
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    5
isOpen                        0
dtype: int64

In [18]:
data_null = ['area_business','invoice_id']
data_null

['area_business', 'invoice_id']

In [26]:
# data.drop(columns=['area_business','invoice_id'],inplace=True,axis=1)
df.drop(columns=['area_business','invoice_id'],axis =1)

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,total_open_amount,baseline_create_date,cust_payment_terms,isOpen
0,U001,0200769623,WAL-MAR trust,2019-12-16 00:00:00,2019.0,1.930215e+09,2019-12-03,20191203,20191203,20191218.0,USD,RV,1.0,37538.22,20191203.0,NAH4,0
1,U001,0200726979,BJ'S associates,2019-07-02 00:00:00,2019.0,1.929511e+09,2019-06-17,20190618,20190617,20190702.0,USD,RV,1.0,442.26,20190617.0,NAA8,0
2,U001,0200721222,GO,2019-09-10 00:00:00,2019.0,1.929793e+09,2019-08-26,20190826,20190826,20190910.0,USD,RV,1.0,83973.11,20190826.0,NAA8,0
3,U001,0200936373,SUPE llc,2019-08-21 00:00:00,2019.0,1.929709e+09,2019-08-05,20190806,20190805,20190820.0,USD,RV,1.0,731.46,20190805.0,NAA8,0
4,CA02,0140104423,METRO co,2019-06-03 00:00:00,2019.0,2.960546e+09,2019-05-23,20190523,20190523,20190603.0,CAD,RV,1.0,262803.39,20190524.0,CA10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,U001,0200761734,H E BUT systems,2019-04-18 00:00:00,2019.0,1.929082e+09,2019-04-04,20190404,20190404,20190419.0,USD,RV,1.0,60617.19,20190404.0,NAA8,0
14996,U001,0200704045,RA,2019-05-09 00:00:00,2019.0,1.929192e+09,2019-04-24,20190423,20190424,20190509.0,USD,RV,1.0,300.66,20190424.0,NAA8,0
14997,U001,0200705089,JETR us,2019-05-20 00:00:00,2019.0,1.929238e+09,2019-04-30,20190501,20190430,20190515.0,USD,RV,1.0,14675.06,20190430.0,NAA8,0
14998,U001,0200759878,SA corp,2020-02-13 00:00:00,2020.0,1.930364e+09,2020-01-08,20200106,20200108,20200222.0,USD,RV,1.0,95355.44,20200108.0,NAWP,0
14999,U001,0200759878,SA us,2019-11-26 00:00:00,2019.0,1.930135e+09,2019-11-10,20191109,20191110,20191125.0,USD,RV,1.0,98208.82,20191110.0,NAH4,0

In [27]:

dat3 =  df.isnull().sum()
dat3

business_code                 0
cust_number                   0
name_customer                 0
clear_date                    0
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
posting_id                    0
area_business             15000
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    5
isOpen                        0
dtype: int64

In [28]:
df

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR trust,2019-12-16 00:00:00,2019.0,1.930215e+09,2019-12-03,20191203,20191203,20191218.0,USD,RV,1.0,NaN,37538.22,20191203.0,NAH4,1.930215e+09,0
1,U001,0200726979,BJ'S associates,2019-07-02 00:00:00,2019.0,1.929511e+09,2019-06-17,20190618,20190617,20190702.0,USD,RV,1.0,NaN,442.26,20190617.0,NAA8,1.929511e+09,0
2,U001,0200721222,GO,2019-09-10 00:00:00,2019.0,1.929793e+09,2019-08-26,20190826,20190826,20190910.0,USD,RV,1.0,NaN,83973.11,20190826.0,NAA8,1.929793e+09,0
3,U001,0200936373,SUPE llc,2019-08-21 00:00:00,2019.0,1.929709e+09,2019-08-05,20190806,20190805,20190820.0,USD,RV,1.0,NaN,731.46,20190805.0,NAA8,1.929709e+09,0
4,CA02,0140104423,METRO co,2019-06-03 00:00:00,2019.0,2.960546e+09,2019-05-23,20190523,20190523,20190603.0,CAD,RV,1.0,NaN,262803.39,20190524.0,CA10,2.960546e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,U001,0200761734,H E BUT systems,2019-04-18 00:00:00,2019.0,1.929082e+09,2019-04-04,20190404,20190404,20190419.0,USD,RV,1.0,NaN,60617.19,20190404.0,NAA8,1.929082e+09,0
14996,U001,0200704045,RA,2019-05-09 00:00:00,2019.0,1.929192e+09,2019-04-24,20190423,20190424,20190509.0,USD,RV,1.0,NaN,300.66,20190424.0,NAA8,1.929192e+09,0
14997,U001,0200705089,JETR us,2019-05-20 00:00:00,2019.0,1.929238e+09,2019-04-30,20190501,20190430,20190515.0,USD,RV,1.0,NaN,14675.06,20190430.0,NAA8,1.929238e+09,0
14998,U001,0200759878,SA corp,2020-02-13 00:00:00,2020.0,1.930364e+09,2020-01-08,20200106,20200108,20200222.0,USD,RV,1.0,NaN,95355.44,20200108.0,NAWP,1.930364e+09,0
14999,U001,0200759878,SA us,2019-11-26 00:00:00,2019.0,1.930135e+09,2019-11-10,20191109,20191110,20191125.0,USD,RV,1.0,NaN,98208.82,20191110.0,NAH4,1.930135e+09,0